!/teacherExample/run/configuration/sempic.ttl
!/teacherExample/target/generated-sources/java/fr/uga/miashs/sempic/model/rdf/*
/teacherExample/run/*
/teacherExample/target/*
/teacherExample/.classpath
/teacherExample/.project
/teacherExample/.settings/

!/scholarProjectWebSemantic/target/generated-sources/java/fr/uga/miashs/sempic/model/rdf/*
# See https://github.com/neoclide/coc-java/issues/18
!/scholarProjectWebSemantic/.settings/org.eclipse.core.resources.prefs
/scholarProjectWebSemantic/yarn.lock

!/scholarProjectWebSemanticFusekiDatabase/run/configuration/sempic.ttl
/scholarProjectWebSemanticFusekiDatabase/run/*

/scholarProjectWebSemantic/yarn.lock
